[submodule "public/live2d-widget"]
	path = public/live2d-widget
	url = https://github.com/Alan69359/live2d-widget
[submodule "public/live2d_api"]
	path = public/live2d_api
	url = https://github.com/Alan69359/live2d_api
