:root {
  color-scheme: light dark;
}

[data-mui-color-scheme="light"] {
  color-scheme: light;
}

[data-mui-color-scheme="dark"] {
  color-scheme: dark;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: 
    url('/images/wallpaper.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}