:root {
  color-scheme: light dark;
}

[data-mui-color-scheme="light"] {
  color-scheme: light;
}

[data-mui-color-scheme="dark"] {
  color-scheme: dark;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  pointer-events: none;
}

/* This re-enables clicks for the Live2D model itself */
canvas .live2d-display {
  pointer-events: auto;
}