*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 64px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('/images/wallpaper.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

footer {
  margin-top: auto;
}